body{
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

.app {
  background-color:rgb(32, 32, 32);
  border-color: red;
  border: solid red;
  border-width: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  max-width: 100vw;
  min-height: 99vh;
  align-items: center;
  align-content: center;


  .topbar {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pfp{
    padding-left: 10px;
    }
    .titles{
      text-align: center;
    }
    .controls{
    padding-right: 10px;
    }
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid green;

    .sidebar {
      display: flex;
      flex-direction: column;
      background-color: rgb(25, 25, 25);
      border: solid blue;
      width: 100px;
      height: 800px;
    }

    .content {
      border: solid yellow;
      flex: 1;
      background-color: rgb(35, 35, 35);
      height: 800px;
    }
  }

  h1{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
  h2{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
}