body{
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

.app {
  background-color:rgb(32, 32, 32);
  border-color: red;
  border: solid red;
  border-width: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: 99vh;
  align-items: center;
  align-content: center;


  .topbar {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: solid 2px red;
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid green;

    .sidebar {
      display: flex;
      flex-direction: column;
      background-color: rgb(25, 25, 25);
      border: solid blue;
      width: 100px;
      height: 100%;
    }

    .content {
      flex: 1;
      background-color: rgb(35, 35, 35);
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  h1{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
}