body {
  color-scheme: light dark;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  align-content: center;
}