body{
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

.app {
  background-color:rgb(32, 32, 32);
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  align-content: center;

  h1{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
}